In [1]:
import pandas as pd

In [ ]:
for i in range(0, 54):
    f = open("C:/Users/YONGHA.LEE/YBIGTA/19-1 conference/lyrics/" + str(i+1964)  + ".txt", 'r', encoding='UTF8')
    lyrics = f.read()
    lyrics = lyrics.lower()
    f.close()
    
    f = open("C:/Users/YONGHA.LEE/YBIGTA/19-1 conference/lyrics2/" + str(i+1964) + ".txt", 'w', encoding='UTF8')
    f.write(lyrics)
    f.close()

In [ ]:
df = pd.read_csv("year_all_lyrics.csv")

In [ ]:
for i in range(len(df)):
    df.loc[i, 'lyrics'] = df.loc[i, 'lyrics'].lower()

In [9]:
df.to_csv("year_all_lyrics2.csv")

In [2]:
for i in range(0, 54):
    f = open("C:/Users/YONGHA.LEE/YBIGTA/19-1 conference/lyrics_male/" + str(i+1964)  + "male.txt", 'r', encoding='UTF8')
    lyrics = f.read()
    lyrics = lyrics.lower()
    f.close()
    
    f = open("C:/Users/YONGHA.LEE/YBIGTA/19-1 conference/lyrics2_male/" + str(i+1964) + "male.txt", 'w', encoding='UTF8')
    f.write(lyrics)
    f.close()

In [3]:
df2 = pd.read_csv("year_male_lyric.csv")

In [10]:
df2.rename(columns = {'Unnamed: 0':'year', '0':'lyrics'}, inplace=True)

In [11]:
df2.head()

   year                                             lyrics
0  2018  사랑 을 하다 우리 가 만나다 지우다 못 하다 추억 이 돼다 볼 만 한 멜로드라마 ...
1  2017  이제 괜찮다 너무 힘들다 우리 그 마무리 가 고작 이별 뿐 인 건데 우린 차다 어렵...
2  2016  Love - love the stars Love - love the moon 별 다...
3  2015  난 깨어나다 까맣다 밤 과 함께 다 들어오다 담 엔 누구 차례 하다 치 앞 도 볼 ...
4  2014  미안하다 미안하다 하다 내 가 초라하다 빨갛다 예쁘다 입술 로 어서 나르다 죽 이고...

In [12]:
for i in range(len(df2)):
    df2.loc[i, 'lyrics'] = df2.loc[i, 'lyrics'].lower()

In [14]:
df2.to_csv("year_male_lyrics2.csv")